<div class="container text-center pt-5 pb-5">
  <h1>{{title}}</h1>
  <h2>Productos de carrito {{cid}}</h2>

  <table class="table table-hover mt-5">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {{#each productos}}
        <tr>
          <th scope="row">{{this.product._id}}</th>
          <td>{{this.product.tittle}}</td>
          <td>{{this.product.description}}</td>
          <td>${{this.product.price}}</td>
          <td>{{this.quantity}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <button
    class="btn btn-success"
    onclick="comprar(this)"
    cart-id="{{cid}}"
  >Comprar</button>

  <a class="btn btn-danger" href="http://localhost:8080/api/products">Volver</a>

</div>

<script src="static/js/products.js"></script>
