<div class="container pb-5 pt-5" id="user-data" data-user="{{cartId}}">

  <div class="pb-4">
    <button
      class="btn btn-danger"
      type="button"
      onclick="logout(event)"
    >Logout</button>

    <h1 class="text-center">{{title}}</h1>
    <h2 class="text-center mb-3">Bienvenido
      {{nombreUsuario}}
      {{apellidoUsuario}}. Rol:
      {{rolUsuario}}</h2>
  </div>

  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column text-center">
      <label for="limite">Cantidad por p치gina</label><input
        type="number"
        class="form-class"
        id="limite"
      />
    </div>
    <div class="d-flex flex-column text-center">
      <label for="pagina">Pagina inicial</label><input
        type="number"
        class="form-class"
        id="pagina"
      />
    </div>
    <div class="d-flex flex-column text-center">
      <label for="sort">Orden asc/desc</label>
      <select name="sort" id="sort">
        <option value="1">Ascendente</option>
        <option value="-1">Descendente</option>
      </select>
    </div>
    <div class="d-flex flex-column text-center">
      <label for="descrpcion">Filtro por descripci칩n</label><input
        type="text"
        class="form-class"
        id="descrpcion"
      />
    </div>
    <button onclick="filtrar()" class="btn btn-primary">Filtrar</button>
  </div>

  <table class="table table-hover mt-5">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripci칩n</th>
        <th scope="col">Precio</th>
        <th scope="col">C칩digo</th>
        <th scope="col">Stock</th>
        <th scope="col">Acciones</th>
        
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <th scope="row">{{this._id}}</th>
          <td>{{this.tittle}}</td>
          <td>{{this.description}}</td>
          <td>${{this.price}}</td>
          <td>{{this.code}}</td>
          <td>{{this.stock}}</td>
          <td>
            {{#if (noEsAdmin ../rolUsuario)}}
              {{#if (gt this.stock)}}
                <button
                  class="btn btn-primary"
                  onclick="agregarCarrito(this)"
                  data-id="{{this._id}}"
                >Agregar</button>
              {{else}}
                <button class="btn btn-danger disabled">Sin stock</button>
              {{/if}}
            {{/if}}
            {{#if (verificarAdmin ../rolUsuario)}}
            <button
                class="btn btn-danger"
                onclick="borrarProducto(this)"
                data-id="{{this._id}}"
              >Borrar</button>    
            {{/if}}

            {{#if (verificarPremium ../rolUsuario ../idUsuario this.owner)}}
            <button
                class="btn btn-danger"
                onclick="borrarProducto(this)"
                data-id="{{this._id}}"
              >Borrar</button>    
            {{/if}}
          </td>
          
        </tr>
      {{/each}}

    </tbody>
  </table>
  
  <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {{#if tienePrev}}
          <li class="page-item"><button
              onclick="setPrev()"
              class="page-link"
              href="#"
            >Anterior</button></li>
        {{else}}
          <li class="page-item disabled"><button
              class="page-link"
              href="#"
            >Anterior</button></li>
        {{/if}}

        <li class="page-item"><a class="page-link" href="#">{{pagina}}</a></li>

        {{#if tieneNext}}
          <li class="page-item"><button
              onclick="setNext()"
              class="page-link"
              href="#"
            >Siguiente</button></li>
        {{else}}
          <li class="page-item disabled"><button
              class="page-link"
              href="#"
            >Siguiente</button></li>
        {{/if}}
      </ul>

    </nav>
  </div>
  
  {{#if (noEsAdmin rolUsuario)}}
    <div class="d-flex justify-content-center">
      <button class="btn btn-success" onclick="verCarrito(this)" cart-id="{{cartId}}">Ver carrito</button>
    </div>
  {{/if}}

  {{#if (verificarAdmin rolUsuario)}}
    <div class="container mt-4">
      <h3>Opciones de administrador</h3>
      <button class="btn btn-primary" onclick="verListaUsuarios()">Ver lista de usuarios</button>
      <button class="btn btn-primary" onclick="crearProducto()">Crear productos</button>
    </div>
  {{/if}}
  
</div>
<script src="static/js/products.js"></script>